* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FAF6F1;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  min-height: 65vh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-container {
  box-sizing: border-box;
  width: 50em;
  max-width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  display: flex;
}

.contact-container h3 {
  font-size: 2rem;
  font-weight: 100;
}

.contact-info {
  list-style: none;
  text-align: left;
}

.contact-info li {
  margin-bottom: 1em;
  font-size: 1rem;
  font-weight: 00;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space;
  gap: 1em;
}

.social-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: .5em;
}

.social-buttons a { 
  width: 1.5em;
  transition: .2s ease-in-out;
}

.social-buttons a:hover {
  transform: scale(1.1);
}

.social-buttons img{
  width: 1.5em;
}

.left-panel {
  background-image: url('/src/images/contact-left-panel-background.png');
  width: 50%;
  padding: 2.5em;
  background-color: #3C3C3C;
  border-radius: 10px 0 0 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: left;
}

.get-in-touch {
  padding-bottom: 1em;
  width: 100%;
}

.right-panel {
  width: 50%;
  height: 30em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-panel::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: '';
  border: 2px solid #3C3C3C;
  border-radius: 8px;
  position: absolute;
  pointer-events: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.form-container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

input,
textarea {
  font-family: 'Lato', sans-serif;
}

.input-box {
  margin: 0;
  width: 100%;
  width: 250px;
  max-width: 30em;
  position: relative;
  border-bottom: 2px solid #3C3C3C;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.input-box textarea {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  font-size: 1em;
  max-height: 100px;
  margin-top: -20px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

button {
  margin: auto;
  width: 100%;
  height: 40px;
  background: #3C3C3C;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  cursor: pointer;
  transition: .2s ease-in-out;
}

button:hover {
  background-color: #545454;
}
