
@media (max-width: 780px) {
    .header {
      height: 30vh;
    }

    .header-content{
        margin-top: 2em;
    }

    .m-v-statements{
        height: 70vh;
        flex-wrap: wrap;
        width: 100%;
        padding: 0em 5em;
        
    }

    .statement{
        width: 100%;
        padding: 1em;
    }

    .statement p{
        font-size: clamp(1rem, 1vw, 2rem);
    }

    .statement:nth-child(2){
        margin-top: -4em;
    }
   
}


/** Contact **/

@media (max-width: 840px){
    main{
        height: auto;        

    }

    .contact-container{
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .left-panel{
        width: 100%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    ul{
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .social-buttons{
        justify-content: center;
    }

    .right-panel{
        width: 100%;
        height: 50%;
        flex-direction: row;
        padding: 3em;
    }

    .input-box{
        min-width: 400px;
        max-width: 90%;

    }

    .input-box textarea{
        height: 30px;
    }
}


@media(max-width: 555px){
    .contact-info ul{
        flex-direction: column;
        gap: 0em;
    }

    .left-panel{
        flex-direction: row;
        align-items: flex-end;
    }
}


/** Projects List **/

@media(max-width:1480px){
    .projects-list-container{
        max-width: 1060px;
    }
}


@media(max-width:1130px){
    .projects-list-container{
        max-width: 710px;
    }

    .search-feature{
        justify-content: center;
        padding: 1em 0 0 0;
    }
}

@media(max-width: 710px){
    .projects-list-container{
        max-width: 355px;
    }
}
