@media(max-width:900px){
    .statement p{
        font-size: 1.4rem;
    }
}


@media (max-width: 780px) {
    .header {
      height: 30vh;
    }

    .header-content{
        margin-top: 2em;
    }

    .m-v-statements{
        height: 80vh;
        flex-wrap: wrap;
        width: 100%;
        
    }

    .statement{
        width: 100%;
        padding: 1em;
    }

    .statement p{
        font-size: 1.5rem;
        margin-top: .5rem;
    }

    .statement:nth-child(2){
        margin-top: -4em;
    }

    .review-panels{
        margin-top: 3em;
    }
   
    .vision{
        padding-top: 4em;
      }
    
}

@media (max-width: 550px){
    .statement p{
        font-size: 1.3rem;
        margin-top: .5rem;
    }
}

@media (max-width: 420px){
    .statement p{
        font-size: 1.2rem;
        margin-top: .5rem;
    }
}

@media (max-width: 400px){
    .statement p{
        font-size: 1.1rem;
    }
}

@media (max-width: 380px){
    .statement p{
        font-size: 16px;
        margin-top: .5rem;
    }

    .panel{
        min-width: 16em;
        height: 28em;
    }

    .client-review{
        font-size: 1em;
    }

    .quote-mark{
        display: none;
    }

    .stars{
        margin-bottom: 1em;
        text-align: center;
    }

    .review-panels{
        margin-top: 3em;
        padding-bottom: 0em;
    }

    .m-v-statements{
        
    }
    
}

@media (max-height: 750px){
    .client-reviews{
        padding-top: 10em;
    }
}

@media (max-height: 580px){
    .client-reviews{
        padding-top: 15em;
    }
}

@media (max-height: 450px){
    .client-reviews{
        padding-top: 20em;
    }
}

/** Contact **/

@media (max-width: 840px){
    main{
        height: auto;        

    }

    .contact-container{
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .left-panel{
        width: 100%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    ul{
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .social-buttons{
        justify-content: center;
    }

    .right-panel{
        width: 100%;
        height: 50%;
        flex-direction: row;
        padding: 3em;
    }

    .input-box{
        min-width: 400px;
        max-width: 90%;

    }

    .input-box textarea{
        height: 30px;
    }
}


@media(max-width: 555px){
    .contact-info ul{
        flex-direction: column;
        gap: 0em;
    }

    .left-panel{
        flex-direction: row;
        align-items: flex-end;
    }
}


/** Projects List **/

@media(max-width:1480px){
    .projects-list-container{
        max-width: 1060px;
       
    }

    .projects{
        width: 100%;

    }
}


@media(max-width:1130px){
    .projects-list-container{
        max-width: 710px;
    }

    .search-feature{
        justify-content: center;
        padding: 1em 0 0 0;
    }
}

@media(max-width: 710px){
    .projects-list-container{
        max-width: 355px;
    }

    .projects{
        padding-bottom: 4em;
    }
}

@media(max-width: 370px){
    input.search{
        width: 100%;
        max-width: 290px;
    }

    .project-card{
        width: 100%;
        min-width: 280px;
        height:  300px;
    }

}


/** Specific Projects **/

@media (max-width: 1120px){
    .info-map{
        flex-direction: column;
    }

   

    .info-map{
        margin-bottom: 2em;
    }


}


@media (max-width: 640px){
    .text-container h2{
        font-size: 2.5rem;
    }

    .text-container p{
        font-size: 1rem;
    }

    .container p{
        width: 100%;
    }

}

@media (max-width: 640px) {
    .projects-page{
      padding: 4em 2em;
    }

    .container {
      grid-template-columns: 1fr;
    
      min-width: none;
      max-width: 650px;
    }
    
    .small-grid {
      grid-template-rows: auto;

    }

    #map{
      min-width: 200px;
      min-height: 150px;
    }
    
  }

  @media (max-width: 440px){
    #map{
      height: 300px;
    }
  }

